<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Formula 1 Standings</title>
</head>
<body>
    <div class="headerImage">
        <div class="myContainer">
            <h1><span>Fair Play Racing League</span></h1>
            <a class="myButton" href="mailto:f.ulutas90@gmail.com?subject=Request%20To%20Join%20F1%202019%20League&body=Xbox%20Gamertag%20(Ex%3A%20gamerTag%2323546)%20%3A%0D%0AFull%20Name%20%3A%20%0D%0A%0D%0A%23DO%20NOT%20MODIFY%20%2F%20DEGISIKLIK%20YAPMAYINIZ%0D%0AWe%20welcome%20those%20who%20play%20with%20respect%20and%20honesty%2C%20players%20trying%20to%20negatively%20influence%20our%20competitions%20will%20be%20added%20to%20our%20black%20list%20and%20banned%20from%20our%20league%20for%20life.%20If%20you%20are%20up%20for%20an%20honest%20competition%20and%20joy%2C%20this%20is%20the%20right%20place.%20We%20can't%20wait%20to%20compete%20with%20you!%0D%0A%0D%0ADurustluk%20ve%20saygi%20ligimizde%20var%20olan%20ve%20varliginin%20surdurulmesi%20planlanan%20bir%20eylemdir.%20Oyunumuzu%20sabote%20edecek%20sekilde%20yapilan%20davranislar%20hos%20karsilanmamaktadir%20ve%20bu%20oyuncular%20kara%20listemize%20eklenerek%20ligimizden%20omur%20boyu%20banlanmaktadir.%20Eger%20saygili%20ve%20durust%20bir%20kapisma%20ariyorsan%20dogru%20yerdesin.%20Seninle%20yarismak%20icin%20can%20atiyoruz!">Join Us</a>
        </div>
    </div>
    <nav id="myNavBar" class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a href="/"><img class="logo" src="f1LogoTransparent.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="myNavLinks" class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/season4">Season 4</a>
            <a class="nav-item nav-link" href="/season3">Season 3</a>
            <a class="nav-item nav-link" href="/worldChamp">Season Champions</a>
            <a class="nav-item nav-link" href="/teamlist">Teams</a>
            <a class="nav-item nav-link" href="/leaderboardhistory">Leaderboard History</a>
          </div>
        </div>
    </nav>