<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet"> 
    <title>Formula 1 Standings</title>
</head>
<body>
    <div class="headerImage">
        <div class="container">
            <h1><span>Fair Play Racing League</span></h1>
            <a class="btn" href="#">Join Us</a>
        </div>
    </div>
    <div class="navBar">
        <img class="logo" src="f1LogoTransparent.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/">Current Season</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><a href="#">2019</a></li>
                <li><a href="#">2018</a></li>
            </ul>
        </nav>
    </div>