<%- include("./partials/header") %>

<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <span class="date"><%= archive["2020"][0]["Date"] %></span>
        <h2><%= archive["2020"][0]["Grand Prix"] %></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, porro.</p>
    </div>
    <div class="card-stats"></div>
</div>

<%- include("./partials/footer") %>
