body, html {
    margin: 0;
    padding: 0;
    background: #f7f4f1;
    font-family: 'Titillium Web', sans-serif !important;
}
.headerImage {  
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url("./images/mainPageBackground.jpg") no-repeat center;
    background-size: cover;
}

.myContainer{
    width: 70%;
    background: #1e1e1e;
    opacity: .9;
    border: 3px solid #e10600;
    border-radius: 10px;
    padding: 25px;
    padding-bottom: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.myContainer h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
    margin-bottom: 30px;
}

.myContainer h1 span {
    border: 10px solid white;
    border-radius: 10px;
    padding: 6px 14px;
    display: inline-block;
}

.myButton {
    color: white !important;
    padding: 15px 24px !important; 
    font-size: 20px !important;
    text-decoration: none !important;
    background: #e10600 !important;
    border: 3px solid #e10600 !important; 
    border-radius: 5px !important;
    transition-duration: .4s !important;
}

.myButton:hover {
    color: black !important;
    background: white !important; 
}

.logo{
    cursor: pointer !important;
    margin: 0 !important;
    padding: 10px !important;
    border-radius: 5px !important;
    background: white !important;
    opacity: 1 !important;
    height: 48px !important;
    width: 64px !important;
}
#myNavBar li, a, button {
    font-weight: 500 !important;
    font-size: 24px !important;
    color: white !important;
    text-decoration: none !important;
}
#myNavBar {
    display: flex;
    align-items: center;
    padding: 20px !important;
    background: #e10600 !important;
}

.nav_links {
    list-style: none;
}

#myNavLinks a {
    padding: 0px 25px;
}

#myNavLinks a{
    transition-duration: .4s !important;
}

#myNavLinks a:hover{
    color: black !important;
}

.mainContent .container {
    text-align: center;
}
.mainContent .container .card {
    margin: 5px auto;
}
.mainContent .container .card img {
    max-height: 397px;
}

.mainContent .container h1 {
    margin-top: 50px;
    font-size: 56px;
}
#currentSeason {
    color: #e10600;
}

.indexPageTopThree {
    margin-top: 50px;
}


.indexPageTopThree .card {
    margin: 0px;
    margin-top: 10px;
    background-color: #1e1e1e;
}


.indexPageTopThree .card h4 {
    color: #e10600;
}

.mainContent {
    background: #ffffff;
    margin-top: 0;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    text-align: center;
    padding: 0;
}

.driversChamp {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}

.driversChamp h1 {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 56px;
    text-align: center;
}

.driversChamp table {
    width: 100%;
    letter-spacing: 0.1em;
    border-spacing: 0;
    margin-bottom: 50px;
    text-align: left;
}

table .points {
    text-align: center;
}

tbody {
    border-top: black;
}

tbody tr:nth-child(odd){
    background: #f4f4f4;
}

table td {
    padding-top: 10px;
    padding-bottom: 10px;
    
}
/* RACE CONTAINER */
.archiveContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.archiveContainer h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 56px;
}

.archiveContainer .card h5 {
    color: #15151e;
}

.card {
    display: inline-block !important;    
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 24px;
    border: 2px solid #1e1e1e !important;
    transition-duration: 0.4s;
}



.card .myButton {
    font-size: 16px !important;
    padding: 3px 10px !important;
}

.card .cardTopThree li {
    list-style-type: none;
}
.card .cardTopThree i {
    font-size: 16px;
    padding: 3px;
    margin-right: 2px;
}

.card .cardTopThreeWinner i {
    color: gold;
}
.card .cardTopThree2nd i {
    color: silver;
}
.card .cardTopThree3rd i {
    color: #cd7f32;
}
.card .cardTopThreeFast i {
    color: #e10600;
}

.card h6 {
    color: #e10600 !important;
}

.monument {
    margin-bottom: 40px;
}

.monument h2 {
    display: inline-block;
    border-left: 3px solid #e10600;
    border-bottom: 4px solid #e10600;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #212529;
}

.monument h2 i {
    font-size: 26px;
    padding: 5px;
    margin-right: 3px;
}

.monument .winner i {
    color: gold;
}

.monument .second i {
    color: silver;
}

.monument .third i {
    color: #cd7f32;
}

.monument .fastest i {
    color: #e10600;
}

.worldChamp {
    background: #181820;
}

.worldChamp h1 {
    padding: 50px 0 50px 0;
    font-size: 56px;
}

.worldChamp .row {
    padding-bottom: 50px;
}

.worldChamp .container {
    text-align: center;
}

.worldChamp .card {
    display: inline-block;
    background-color: #1e1e1e;
    border: 3px solid #f1da75 !important;
}

.worldChamp .card:hover{
    box-shadow: none;
}

.worldChamp h1, h2, h5 {
    color: transparent;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
}

.leaderboardHist .container {
    text-align: center;
}

.leaderboardHist .container h1 {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 56px;
}

.leaderboardHist .container .driversChamp h1 {
   font-size: 46px;
   padding-top: 0;
}

.teamList .container {
    text-align: center;
}

.teamList .container h1 {
    margin: 40px 0 40px 0;
    font-size: 56px;
}

.teamList .team-card .card-body h4 span{
   position: absolute;
   right: 15px;
   top: 105px;
   font-size: 32px;
}

.teamList .team-card:hover{
    cursor: pointer;
}

.teamList .team-card .card-body{
    text-align: left;
    border-bottom: 3px solid #d8d8d8;
    border-right: 3px solid #d8d8d8;
    border-radius: 5px;
}
.teamList .team-card .card-header {
    font-size: 28px;
    text-align: left;
    padding-left: 10px;
    border-right: 3px solid #d8d8d8;
    border-radius: 5px;
}

.teamList .team-card .card-header img {
    position: absolute;
    right: 10px;
}

.teamList .team-card .mercedes {
    border-left: 5px solid #00d2be;
}
.teamList .team-card .ferrari {
    border-left: 5px solid #dc0000;
}
.teamList .team-card .redbull {
    border-left: 5px solid #0600ef;
}
.teamList .team-card .renault {
    border-left: 5px solid #fff500;
}
.teamList .team-card .williams {
    border-left: 5px solid #0082fa;
}
.teamList .team-card .racingpoint {
    border-left: 5px solid #f596c8;
}
.teamList .team-card .mclaren {
    border-left: 5px solid #ff8700;
}
.teamList .team-card .tororosso {
    border-left: 5px solid #0600ef;
}
.teamList .team-card .alfaromeo {
    border-left: 5px solid #960000;
}
.teamList .team-card .haas {
    border-left: 5px solid #787878;
}

/* FOOTER */
footer {
    border-top: 10px solid #e10600;
    margin: 0;
    padding: 10px;
    width: 100%;
    background: #15151e;
    text-align: center;
}


footer h1 {
    color: transparent;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 58px;
    margin: 20px 0 20px 0;
    padding: 30px;
}

@media screen and (max-width: 630px) {
    .headerImage {
        height: 300px;
    }
    .myContainer h1 {
      font-size: 32px;
    }
    .myContainer h1 span {
        border: 5px solid white;
    }
    .btn {
        padding: 10px 20px;
        font-size: 15px;
    }
    .navBar .nav_links .hide {
        display: none;
    }
    .driversChamp h1 {
        font-size: 36px;
    }
    .leaderboardHist .container h1 {
        font-size: 36px;
    }
    .leaderboardHist .container .driversChamp h1 {
        font-size: 32px;
    }
    .card {
        display: block !important;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .worldChamp .container i {
        display: none;
    }
    .teamList .container h1 {
        font-size: 36px;
    }
    .teamList .team-card .card-header {
        font-size: 26px;
    }
    .teamList .team-card .card-header img {
        height: 45px !important;
    }
    table {
        font-size: 13px;
    }
    footer h1 {
        font-size: 32px;
        padding: 15px;
    }
  }